---
import { SITE } from '../const';
import Container from './Container.astro';
---

<footer class="py-5 text-sm">
  <Container>
    <span class="text-stone-400">
      &copy; 2025 | {SITE.NAME}
    </span>
  </Container>
</footer>
