---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  href: string;
}

const { href, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  class:list={[
    'inline-flex text-sm items-center text-stone-500 border border-stone-300 cursor-pointer rounded-md px-2.5 py-1.5 font-medium',
    'transition-all duration-300 ease-in-out',
    'hover:bg-stone-800/5 hover:text-stone-800 hover:border-stone-400',
    className,
  ]}
  {...rest}
>
  <span class="font-sans">
    <slot />
  </span>
</a>
